# Azure keys
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
# AWS keys
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
# Database
DATABASE_URL=""
# Web-Tool Tavily Search
TAVILY_API_KEY=""