# Azure keys
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""
# AWS keys
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_EMBEDDING_MODEL_ID=""
# Database
DATABASE_URL="postgresql+psycopg://username:password@host:post/database"
POSTGRES_URI="postgresql://username:password@host:post/database"
# Web-Tool Tavily Search
TAVILY_API_KEY=""
# Knowledge-Base
STORAGE_TYPE=local
LOCAL_STORAGE_PATH=./uploaded_data