# Azure keys
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
# AWS keys
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_EMBEDDING_MODEL_ID=""
#OLLAMA
OLLAMA_BASE_URL"=
# Database
DATABASE_URL=
POSTGRES_URI=
# Web-Tool Tavily Search
TAVILY_API_KEY=
# Knowledge-Base
STORAGE_TYPE=local
LOCAL_STORAGE_PATH=